.container {
  .clearfix;
  margin : 0 auto;
  max-width : @grid-container;
  width: 90%;
}

.row {
  .clearfix;
  margin-left: -(@grid-gutter / 2);
  margin-right: -(@grid-gutter / 2);
}

.col {
  float: left;
  height: auto;
  min-height: 1px;
  padding-left: (@grid-gutter / 2);
  padding-right: (@grid-gutter / 2);
}

.col-4,
.col-6,
.col-8 {
  .col;
  width: 100%;
}

@media (min-width: @media-small) {

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-8 {
    width: 66.67%;
  }

}
