.container {
  .clearfix;
  margin: 0 auto;
  max-width: @grid-container;
  width: 90%;
}

.row {
  .clearfix;
  margin: 0 @grid-gutter / -2;
}

.col() {
  margin: 0 @grid-gutter / 2;
  min-height: 1px;
}

.col-4,
.col-6,
.col-8 {
  .col;
}

@media (min-width: @media-small) {

  .col {

    &-4 {
      float: left;
      width: 100% / @grid-columns * 4 - @grid-gutter;
    }

    &-6 {
      float: left;
      width: 100% / @grid-columns * 6 - @grid-gutter;
    }

    &-8 {
      float: left;
      width: 100% / @grid-columns * 8 - @grid-gutter;
    }

  }

}
