@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

-moz-::selection,
::selection {
  background: @color;
  color: @color-bg;
  text-shadow: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background: @color-bg;
  color: @color;
  display: table;
  font: @font-weight ~"@{font-size}/@{line-height}" @font-family, @font-family-fallback;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

article,
aside,
details,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  border: 0;
  color: @color-link;
  outline-color: @color-primary;
  text-decoration: none;
  transition: background-color .3s, color .3s;

  &:active {
    color: @color-link-active;
  }

  &:hover {
    color: @color-link-hover;
  }

}

button {
  background: @color-btn-bg;
  border: 0;
  color: @color-btn;
  cursor: pointer;
  margin: 0;
  outline-color: @color-primary;
  overflow: visible;
  padding: 0;
  text-transform: none;
  transition: background-color .3s, color .3s;

  &:hover {
    background: @color-btn-bg-hover;
  }

}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

code {
  font-family: @font-family-code, @font-family-code-fallback;
  font-size: .875rem;
  white-space: pre;
  word-wrap: normal;
}

pre {
  background-color: @color-code-bg;
  display: block;
  margin: 0 0 1.5rem;
  overflow: auto;
  padding: 1rem;
  word-wrap: normal;
}

figure {
  display: block;
  margin: 0;
}

footer {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  margin: 0 0 .5rem;
}

header {
  display: block;
  margin: 0;
}


h1 {
  font-size: @h1-font-size-small;
  font-weight: bold;

  @media (min-width: @media-small) {
    font-size: @h1-font-size;
  }

}

h2 {
  font-size: @h2-font-size;
}

h3 {
  font-size: @h3-font-size;
}

h4 {
  font-size: @h4-font-size;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

input,
select,
textarea {
  background-image: none;
  border: 0;
  color: inherit;
  font: @font-weight ~"@{font-size}/@{line-height}" @font-family, @font-family-fallback;
  margin: 0;
  outline-color: @color-primary;
  padding: 0;
  transition: all .3s;
}

input {

  &[type="submit"] {
    -webkit-appearance: button;
    background: @color-btn-bg;
    color: @color-btn;
    cursor: pointer;

    &:hover {
      background: @color-btn-bg-hover;
    }

  }

  &[type="search"] {
    -webkit-appearance: textfield;
  }

}

label {
  display: block;
  padding: 0 0 .5rem;
}

::-webkit-input-placeholder {
  color: @color-placeholder;
}

::-moz-placeholder {
  color: @color-placeholder;
}

:-moz-placeholder {
  color: @color-placeholder;
}

:-ms-input-placeholder {
  color: @color-placeholder;
}

p {
  margin: 0 0 .5rem;
}

svg {
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}
