@color    : #282828;
@color-bg : #fff;

@color-primary        : #01A5B1;
@color-primary-hover  : #0195A1;
@color-primary-active : #93D5DB;

@color-secondary: #ff4136;

@color-link        : @color-primary;
@color-link-hover  : lighten( @color-primary, 2.5% );
@color-link-active : darken( @color-primary, 15% );

@color-btn         : #fff;
@color-btn-bg      : #888;
@color-btn-bg-hover: darken(@color-btn-bg, 10%);

@color-bg-scroll-link        : #e4e4e4;
@color-bg-scroll-link-hover  : darken( @color-bg-scroll-link, 10% );
@color-bg-scroll-link-active : darken( @color-bg-scroll-link, 10% );

@color-border      : #b7b7b7;
@color-border-hover: #333;

@color-btn-primary          : #fff;
@color-btn-primary-bg       : @color-primary;
@color-btn-primary-bg-hover : @color-primary-hover;

// @marco how do you want to name this grey
@grey : #888;
