@color    : #282828;
@color-bg : #fff;

@color-primary        : #01a5b1;
@color-primary-hover  : #0195a1;
@color-primary-active : #93d5db;

@color-secondary : #ff4136;

@color-link        : @color-primary;
@color-link-hover  : lighten( @color-primary, 2.5% );
@color-link-active : darken( @color-primary, 15% );

@color-btn          : #fff;
@color-btn-bg       : @color-primary;
@color-btn-bg-hover : @color-primary-hover;

@color-bg-scroll-link        : #e4e4e4;
@color-bg-scroll-link-hover  : darken( @color-bg-scroll-link, 10% );
@color-bg-scroll-link-active : darken( @color-bg-scroll-link, 10% );

@color-border       : #b7b7b7;
@color-border-hover : #333;

@color-placeholder : #b7b7b7;

@color-btn-primary          : #fff;
@color-btn-primary-bg       : @color-primary;
@color-btn-primary-hover    : @color-btn-primary;
@color-btn-primary-bg-hover : @color-primary-hover;

@color-code-bg: #f7f7f7;

@color-service       : #1993dc;
@color-service-hover : lighten(@color-service, 10%);

@color-cli       : #121212;
@color-cli-hover : lighten(@color-cli, 10%);

@color-chrome       : #0181f5;
@color-chrome-hover : lighten(@color-chrome, 10%);

@color-firefox       : #e66000;
@color-firefox-hover : lighten(@color-firefox, 10%);

@color-safari       : #4189d6;
@color-safari-hover : lighten(@color-safari, 10%);

@color-internet-explorer       : #0cf;
@color-internet-explorer-hover : lighten(@color-internet-explorer, 10%);

@color-mac       : #656565;
@color-mac-hover : lighten(@color-mac, 10%);

@color-windows       : #00bcf2;
@color-windows-hover : lighten(@color-windows, 10%);

@color-linux       : #e8b627;
@color-linux-hover : lighten(@color-linux, 10%);

@color-module       : #80bd01;
@color-module-hover : lighten(@color-module, 10%);

@color-angular       : #a6120d;
@color-angular-hover : lighten(@color-angular, 10%);

@color-broccoli       : #598527;
@color-broccoli-hover : lighten(@color-broccoli, 10%);

@color-grunt       : #e48632;
@color-grunt-hover : lighten(@color-grunt, 10%);

@color-gulp       : #eb4a4b;
@color-gulp-hover : lighten(@color-gulp, 10%);

@color-illustrator       : #f89404;
@color-illustrator-hover : lighten(@color-illustrator, 10%);

@color-bookmarklet       : #e63830;
@color-bookmarklet-hover : lighten(@color-bookmarklet, 10%);

@color-javascript       : #f7df1e;
@color-javascript-hover : lighten(@color-javascript, 10%);

@color-php       : #8892bf;
@color-php-hover : lighten(@color-php, 10%);

@color-python       : #3776ab;
@color-python-hover : lighten(@color-python, 10%);

@color-apache       : #b21142;
@color-apache-hover : lighten(@color-apache, 10%);

@color-nginx       : #00992d;
@color-nginx-hover : lighten(@color-nginx, 10%);

@color-wordpress       : #21759b;
@color-wordpress-hover : lighten(@color-wordpress, 10%);

@color-tag        : @color;
@color-tag-hover  : @color-bg;
@color-tag-active : darken(@color-tag-hover, 10%);

@color-tag-bg        : @color-bg;
@color-tag-bg-hover  : @color-primary;
@color-tag-bg-active : darken(@color-tag-bg-hover, 10);
