
@grey        : #999;
// @grey-dark   : #333;
@color-primary   : #0195A1;
@blue        : #01A5B1;
@blue-bright : #93D5DB;
@white       : #FFF;
@red         : #FF4136;

@color: #282828;
@color-bg: #fff;

@color-primary: #01A5B1;
@color-primary-hover: #0195A1;

@color-link: @color-primary;

@color-border: #b7b7b7;

@color-btn-primary: #fff;
@color-btn-primary-bg: @color-primary;
@color-btn-primary-bg-hover: @color-primary-hover;