@media--small: 40rem;
@media--tiny : 30rem;

@primary__color        : #01a5b1;
@primary__color--hover : #0195a1;
@primary__color--active: #93d5db;

@secondary__color: #ff4136;

@border__color       : #b7b7b7;
@border__color--hover: #333;

@base__color               : #282828;
@base__bgcolor             : #fff;
@base__font-family         : 'Helvetica, Arial';
@base__font-family-fallback: 'sans-serif';
@base__font-size           : 1em;
@base__font-weight         : 400;
@base__line-height         : 1.5;

@btn__color         : #fff;
@btn__bgcolor       : @primary__color;
@btn__bgcolor--hover: @primary__color--hover;
@btn--primary__bgcolor       : @primary__color;
@btn--primary__bgcolor--hover: @primary__color--hover;
@btn--primary__color         : #fff;
@btn--primary__color--hover  : @btn--primary__color;

@code__bgcolor             : #f7f7f7;
@code__font-family         : 'Courier New';
@code__font-family-fallback: monospace;

@grid__container: 48rem;
@grid__columns  : 12;
@grid__gutter   : 2%;

@h1__font-size      : 3.375rem;
@h1__font-size-small: 2.75rem;
@h2__font-size      : 2rem;
@h3__font-size      : 1.5rem;
@h4__font-size      : 1rem;

@link__color        : @primary__color;
@link__color--hover : lighten(@primary__color, 2.5%);
@link__color--active: darken(@primary__color, 15%);

@placeholder__color: #b7b7b7;

@resources:
  'angular',
  'apache',
  'bookmarklet',
  'broccoli',
  'chrome',
  'cli',
  'firefox',
  'grunt',
  'gulp',
  'illustrator',
  'internet-explorer',
  'javascript',
  'linux',
  'mac',
  'module',
  'nginx',
  'php',
  'python',
  'ruby',
  'safari',
  'service',
  'windows',
  'wordpress';

@resource--angular__bgcolor                 : #a6120d;
@resource--angular__bgcolor--hover          : lighten(@resource--angular__bgcolor, 10%);
@resource--apache__bgcolor                  : #b21142;
@resource--apache__bgcolor--hover           : lighten(@resource--apache__bgcolor, 10%);
@resource--bookmarklet__bgcolor             : #e63830;
@resource--bookmarklet__bgcolor--hover      : lighten(@resource--bookmarklet__bgcolor, 10%);
@resource--broccoli__bgcolor                : #598527;
@resource--broccoli__bgcolor--hover         : lighten(@resource--broccoli__bgcolor, 10%);
@resource--chrome__bgcolor                  : #0181f5;
@resource--chrome__bgcolor--hover           : lighten(@resource--chrome__bgcolor, 10%);
@resource--cli__bgcolor                     : #121212;
@resource--cli__bgcolor--hover              : lighten(@resource--cli__bgcolor, 10%);
@resource--firefox__bgcolor                 : #e66000;
@resource--firefox__bgcolor--hover          : lighten(@resource--firefox__bgcolor, 10%);
@resource--grunt__bgcolor                   : #e48632;
@resource--grunt__bgcolor--hover            : lighten(@resource--grunt__bgcolor, 10%);
@resource--gulp__bgcolor                    : #eb4a4b;
@resource--gulp__bgcolor--hover             : lighten(@resource--gulp__bgcolor, 10%);
@resource--illustrator__bgcolor             : #f89404;
@resource--illustrator__bgcolor--hover      : lighten(@resource--illustrator__bgcolor, 10%);
@resource--internet-explorer__bgcolor       : #0cf;
@resource--internet-explorer__bgcolor--hover: lighten(@resource--internet-explorer__bgcolor, 10%);
@resource--javascript__bgcolor              : #f7df1e;
@resource--javascript__bgcolor--hover       : lighten(@resource--javascript__bgcolor, 10%);
@resource--linux__bgcolor                   : #e8b627;
@resource--linux__bgcolor--hover            : lighten(@resource--linux__bgcolor, 10%);
@resource--mac__bgcolor                     : #656565;
@resource--mac__bgcolor--hover              : lighten(@resource--mac__bgcolor, 10%);
@resource--module__bgcolor                  : #80bd01;
@resource--module__bgcolor--hover           : lighten(@resource--module__bgcolor, 10%);
@resource--nginx__bgcolor                   : #00992d;
@resource--nginx__bgcolor--hover            : lighten(@resource--nginx__bgcolor, 10%);
@resource--php__bgcolor                     : #8892bf;
@resource--php__bgcolor--hover              : lighten(@resource--php__bgcolor, 10%);
@resource--python__bgcolor                  : #3776ab;
@resource--python__bgcolor--hover           : lighten(@resource--python__bgcolor, 10%);
@resource--ruby__bgcolor                    : #cc342d;
@resource--ruby__bgcolor--hover             : lighten(@resource--ruby__bgcolor, 10%);
@resource--safari__bgcolor                  : #4189d6;
@resource--safari__bgcolor--hover           : lighten(@resource--safari__bgcolor, 10%);
@resource--service__bgcolor                 : #1993dc;
@resource--service__bgcolor--hover          : lighten(@resource--service__bgcolor, 10%);
@resource--windows__bgcolor                 : #00bcf2;
@resource--windows__bgcolor--hover          : lighten(@resource--windows__bgcolor, 10%);
@resource--wordpress__bgcolor               : #21759b;
@resource--wordpress__bgcolor--hover        : lighten(@resource--wordpress__bgcolor, 10%);

@scroll-link__bgcolor        : #e4e4e4;
@scroll-link__bgcolor--hover : darken(@scroll-link__bgcolor, 10%);
@scroll-link__bgcolor--active: darken(@scroll-link__bgcolor, 10%);

@tag__bgcolor        : @base__bgcolor;
@tag__bgcolor--hover : @primary__color;
@tag__bgcolor--active: darken(@tag__bgcolor--hover, 10);
@tag__color          : @base__color;
@tag__color--hover   : @base__bgcolor;
@tag__color--active  : darken(@tag__color--hover, 10%);
