@import '_variables';
@import '_colors';

@import 'helpers/_utilities';
@import 'helpers/_grid';
@import 'helpers/_icons';

@import '_base';

@import 'layout/_header';
@import 'layout/_main';
@import 'layout/_footer';

@import 'modules/_articles';
@import 'modules/_buildBy';
@import 'modules/_buttons';
@import 'modules/_contributors';
@import 'modules/_fuzzy';
@import 'modules/_media';
@import 'modules/_nav';
@import 'modules/_posts';
@import 'modules/_resources';
@import 'modules/_social';
@import 'modules/_sponsors';
@import 'modules/_tags';
@import 'modules/_tooltip';

:empty {
  outline: 5px solid yellow;
}

img {
  outline: 5px solid red;
}

img[alt] {
  outline: none;
}

img[alt=""] {
  outline: 5px solid yellow;
}

a {
  outline: 5px solid yellow;
}

a[title] {
  outline: none;
}

a[href="#"],
a[href*="javascript"] {
  outline: 5px solid yellow;
}

a[target] {
  outline: 5px solid yellow;
}

ul,
ol {

  > *:not(li) {
    outline: 5px solid red;
  }

}

th {
  outline: 5px solid yellow;
}

th[scope] {
  outline:none;
}

tbody + tfoot {
  outline: 5px solid yellow;
}

form {
  outline: 5px solid red;
}
form[action] {
  outline:none;
}

textarea,
input {
  outline: 5px solid red;
}

input[type] {
  outline: none;
}

textarea[rows][cols] {
  outline: none;
}

input[type=submit] {
  outline: 5px solid red;
}

input[type=submit][value] {
  outline: none;
}

[style] {
  outline: 5px solid yellow;
}

[id] {
  outline: 5px solid yellow;
}
