@import "normalize.less";

@grey        : #707173;
@blue        : #01A5B1;
@blue-bright : #93D5DB;
@white       : #DDF0F2;

* {
  &, &:before, &:after {
    box-sizing : border-box;
  }
}

body {
  color : @grey;
  background : @white;

  font-size   : 16px;
  font-family : Helvetica, Arial, sans-serif;
  font-weight : 200;

  text-align : center;
}

a {
  color : @blue;
}

h1 {

}

h2 {
  color : @blue;
  font-style : italic;
}

h3 {
  position : relative;

  padding : 0 0 0.5rem 0;

  &:before {
    position : absolute;

    content : '';

    top   : 100%;
    left  : 10%;
    right : 10%;

    height : 1px;

    border-bottom : 1px solid @blue;
  }
}

footer {
  margin  : 3rem 0 0 0;
  padding : 2rem 0 2rem 0;

  background : @blue;

  color : @white;
}

.posts, .resources, .socials {
  list-style : none;

  &, li {
    margin : 0;
    padding : 0;
  }
}

.posts {
  > li {
    position : relative;

    padding : 0.5rem 0 4rem 0;

    transition : background 0.25s ease-in;

    &:hover {
      background : lighten( @white, 5% );
    }

    @media (min-width: 600px) {
      display : inline-block;
      vertical-align : top;

      width : 50%;
      min-height : 375px;
    }

    @media (min-width: 1000px) {
      width : 33.33%;
    }

    @media (min-width: 1400px) {
      width : 25%;
    }
  }
}

.posts--content {
  padding : 0 2rem;
  font-style : italic;
}

.resources {
  padding : 1rem 0;

  li {
    display : inline-block;

    margin : 0 0.25rem;

  }

  a {
    display : block;

    width : 220px;

    padding : 0.5rem 1.5rem;

    border-radius : 2rem;

    color : #fff;
    text-decoration : none;

    overflow : hidden;

    &.service {
      background : #7FDBFF;

      &:hover {
        background : lighten( #7FDBFF, 7% );
      }
    }

    &.cli {
      background : #001F3F;

      &:hover {
        background : lighten( #001F3F, 7% );
      }
    }

    &.module {
      background : #3D9970;

      &:hover {
        background : lighten( #3D9970, 7% );
      }
    }

    &.grunt {
      background : #FF851B;

      &:hover {
        background : lighten( #FF851B, 7% );
      }
    }

    &.gulp {
      background : #FF4136;

      &:hover {
        background : lighten( #FF4136, 7% );
      }
    }

    &.bookmarklet {
      background : #FFDC00;

      &:hover {
        background : lighten( #FFDC00, 7% );
      }
    }

    @media (min-width: 1000px) {
      width : 3rem;
      height : 3rem;

      border-radius : 50%;

      text-indent : -1000px;
    }
  }

  @media (min-width: 600px) {
    position : absolute;

    bottom : 0;
    left   : 0;
    right  : 0;
  }
}

.socials {
  > li {
    display : inline-block;

    margin : 0 0.5rem;

    width  : 32px;
    height : 32px;

    overflow : hidden;
  }
}

.hashTag {
  font-size : 2rem;
  font-style : italic;

  color : @blue-bright;
}

@media (min-width: 1000px) {
  .tooltip {
    position: relative;
    text-decoration: none;
    &:after {
      content: attr(title);
      position: absolute;
      bottom: 100%;
      left: 60%;
      background: @grey;
      padding: 5px 15px;
      color: @white;

      border-radius        : 0.75rem 0.75rem 0.75rem 0;
      white-space: nowrap;
      opacity: 0;
       /* At time of this creation, only Fx4 doing pseduo transitions */
      -webkit-transition: all 0.4s ease;
      -moz-transition   : all 0.4s ease;

      z-index : 2;
    }

    &:hover:after {
      bottom: 75%;
    }
    &:hover:before {
      bottom: 70%;
    }
    &:hover:after, a:hover:before {
      opacity: 1;
    }
  }
}

