@import "normalize.less";

@grey        : #999;
@grey-dark   : #333;
@blue-dark   : #0195A1;
@blue        : #01A5B1;
@blue-bright : #93D5DB;
@white       : #FFF;
@red         : #FF4136;

@max-width : 40rem;

* {
  &, &:before, &:after {
    box-sizing : border-box;
  }
}

body {
  color : @grey-dark;

  font-size   : 16px;
  font-family : Helvetica, Arial, sans-serif;
  font-weight : 200;

  text-align : center;
}

.container {
  margin : 0 auto;
  max-width : @max-width;
}

a {
  color : @blue;
}

header {
  background : @white;
  color : @grey-dark;

  border-bottom : 1px solid @grey;
  margin-bottom : 1rem;
  overflow : hidden;
}

h1 {
  font-weight : 400;

  @media (min-width: @max-width) {
    display : inline-block;
    text-align : left;
  }
}

h2 {

}

h3 {
  font-size : 1.25rem;
  padding : 0 0 0.5rem 0;
}

.fuzzy {
  position : relative;

  margin : 2rem 1rem;
  text-align : left;

  @media (min-width: @max-width) {
    margin : 3rem auto 2rem;
    width : @max-width;
  }
}

.fuzzy--input {
  height : 4rem;
  width : 100%;

  font-size : 1.25rem;
  border : 1px solid @grey-dark;

  text-align : center;
}

.fuzzy--icon {
  position : absolute;

  top   : 0.75rem;
  right : 1rem;

  width  : 2.5rem;
  height : 2.5rem;

  fill : @grey;
}


.nav--list {
  display : table;

  margin : 0 auto;
  padding : 0;

  list-style : none;

  font-size : 1rem;
  font-weight : bold;
  text-transform : uppercase;

  @media (min-width: @max-width) {
    width : @max-width;
  }
}

.nav--list--item {
  padding : 1rem;

  &.is-active {
    border-bottom : 0.125rem solid @blue;

    > a {
      color : @blue;
    }
  }


  > a {
    text-decoration : none;
    color : @grey-dark;
  }

  @media (min-width: @max-width) {
    display : table-cell;

    padding : 0;

    vertical-align: middle;

    &:first-child {
      padding-left : 0;
    }

    &:last-child {
      padding-right : 0;
    }

    > a {
      display : block;

      &:hover {
        color : @blue;
      }

      &:active {
        color : @blue-dark;
      }
    }
  }
}

footer {
  margin  : 3rem 0 0 0;
  padding : 1rem 0;

  border-top : 1px solid @grey;

  text-align : center;
}

.footer--heart {
  display : inline;
  width : 2rem;
  height : 2rem;

  margin-bottom : -0.75rem;

  fill : @blue;
}

.logo {
  max-width : 4rem;

  margin : 0.75rem 0;
}

.noun {
  display : block;

  padding : 0.5rem 0;

  color : @blue-bright;
}

.posts, .resources, .socials {
  list-style : none;

  &, li {
    margin : 0;
    padding : 0;
  }
}

.posts {
  > li {
    position : relative;

    margin : 0 auto 1rem;
    padding : 0.5rem 0;

    transition : background 0.25s ease-in;

    overflow : hidden;

    border-bottom : 1px solid @grey;

    &:last-child {
      border : none;
    }
  }
}

.posts--content {
  padding : 0 2rem 2rem;
}

.resources {
  padding : 0 0 0.5rem;

  li {
    position : relative;

    display : inline-block;

    text-align : left;

    vertical-align : top;

    margin : 0 0.25rem;
  }

  span {
    position    : absolute;
    right       : 1rem;
    top         : 0;
    padding     : 0.5rem 0;
    color       : white;
    line-height : 1.125;

    pointer-events : none;

    &:after {
      content: '☆';
      margin-left: 0.25rem;
    }

    @media (min-width: @max-width) {
      display : block;
      position : relative;

      right : auto;
      top   : auto;

      padding : 1.5rem 0 0;
      margin  : 0 0 0.5rem;

      text-align : center;

      color : @grey-dark;

      &:after {
        position : absolute;

        top : 0;
        left : 0;
        right : 0;

        margin : 0;

        text-align : center;
        content : '☆';
      }
    }
  }

  a {
    display : block;

    width : 220px;

    padding : 0.5rem 1rem;
    margin  : 0 0 0.5rem 0;

    border-radius : 2rem;

    color : #fff;
    text-decoration : none;

    overflow : hidden;

    &.service {
      background : #7FDBFF;

      &:hover {
        background : lighten( #7FDBFF, 7% );
      }
    }

    &.cli {
      background : #001F3F;

      &:hover {
        background : lighten( #001F3F, 7% );
      }
    }

    &.chrome {
      background : #0074D9;

      &:hover {
        background : lighten( #0074D9, 7% );
      }
    }

    &.module {
      background : #3D9970;

      &:hover {
        background : lighten( #3D9970, 7% );
      }
    }

    &.grunt {
      background : #FF851B;

      &:hover {
        background : lighten( #FF851B, 7% );
      }
    }

    &.gulp {
      background : @red;

      &:hover {
        background : lighten( #FF4136, 7% );
      }
    }

    &.bookmarklet {
      background : #FFDC00;

      &:hover {
        background : lighten( #FFDC00, 7% );
      }
    }

    &.script {
      background : #85144B;

      &:hover {
        background : lighten( #85144B, 7% );
      }
    }

    > svg {
      display : none;
    }

    @media (min-width: @max-width) {
      width : 3rem;
      height : 3rem;

      padding : 0.5rem 1.5rem;

      border-radius : 50%;

      text-indent : -1000px;

      > svg {
        display : block;
        position : absolute;
        height : 2rem;
        width  : 2rem;

        top : 0.5rem;
        left : 0.5rem;

        pointer-events : none;
      }
    }
  }
}

.socials {
  > li {
    display : inline-block;

    margin : 0 0.5rem;

    width  : 32px;
    height : 32px;

    overflow : hidden;
  }
}

.svgIcons {
  display : none;
}

.tags {
  list-style : none;

  margin : 0;

  text-align : center;


  &, li {
    padding : 0;
  }

  li {
    display : inline-block;
    margin : 0 0.125rem 1rem;
    padding : 0.125rem 0.5rem;


    border : 1px solid @grey-dark;

    @media (min-width: @max-width) {
      font-size : 0.8rem;
    }
  }
}

.hashTag {
  font-size : 2rem;
  font-style : italic;

  color : @blue-bright;
}

@media (min-width: @max-width) {
  .tooltip {
    position: relative;
    text-decoration: none;

    &:before, &:after {
      /* At time of this creation, only Fx4 doing pseduo transitions */
      -webkit-transition: all 0.4s ease;
      -moz-transition   : all 0.4s ease;
      transition        : all 0.4s ease;

      opacity : 0;

      pointer-events : none;
    }

    &:before {
      position: absolute;
      bottom: 120%;

      content: '';

      border: 5px solid @grey-dark;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;

      margin-bottom: -10px;

      left: 50%;

      z-index: 2;

      background: none;
    }

    &:after {
      content: attr(title);
      position: absolute;
      bottom: 120%;
      left: 50%;
      background: @grey-dark;
      padding: 5px 15px;
      color: @white;

      border-radius        : 0.75rem 0.75rem 0.75rem 0;
      white-space: nowrap;

      z-index : 2;
    }

    &:hover:before, &:hover:after {
      bottom: 110%;
    }

    &:hover:after, &:hover:before {
      opacity: 1;
    }
  }
}

#contributors {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 4px;
    border-radius: 3px;
    overflow: hidden;

    img {
      border-radius : 50%;

      width: 42px;
      height: 42px;
    }
  }
}

.sponsor {
  max-width : 10rem;

  text-align : center;

  margin : 1rem auto;

  img {
    display : block;
  }
}

/**
 * HELPERS
 */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.left {
  float : left;
}

.right {
  float : right;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
