.buildBy-socialList {
  .list-unstyled;
  margin: 0 -.25rem;

  > li {
    display: inline-block;
    margin: 0 .25rem;
    width: 3rem;

  }

  svg {
    fill: @color;
    height: 3rem;
    transition: fill .3s, transform .3s;

    &:hover {
      fill: @color-primary;
      transform: scale(1.1);
    }

  }

}
