.btn {
  display: inline-block;
  font-weight: bold;
  padding: .5rem 1rem;
}

.btn-primary {
  background-color: @color-btn-primary-bg;
  color: @color-btn-primary;

  &:hover {
    background-color: @color-btn-primary-bg-hover;
  }

}

.btn-nav {
  display: none;
  float: right;
  height: 32px;
  margin-top: 1.25rem;
  width: 48px;

  @media screen and (max-width: @media-tiny) {
    display: block;
  }

}

.btn-scroll {
  position :relative;

  width  : 8rem;
  height : 8rem;

  margin : 4rem;

  background : @color-bg-scroll-link;
  border-radius : 50%;

  > svg {
    position : absolute;
    width    : 60%;
    height   : 60%;

    top  : 20%;
    left : 20%;
  }

  &:hover {
    background : @color-bg-scroll-link-hover;
  }

  &:active {
    backfound : @color-bg-scroll-link-active;
  }
}
