.form {

  input {

    &[type="email"],
    &[type="search"],
    &[type="text"] {
      border: 1px solid @color-border;
      height: @line-height + (.25rem * 2);
      padding: .25rem .5rem;
      width: 100%;
    }

  }

  &-field {
    .clearfix;
    padding: .5rem 0;
  }

}
