.fuzzy {
  margin: 2rem 1rem;
  position: relative;
  text-align: left;

  @media (min-width: @max-width) {
    margin: 3rem auto 2rem;
  }

}

.fuzzy--input {
  border: 1px solid @color-border;
  font-size: 1.25rem;
  height: 4rem;
  text-align: center;
  width: 100%;
}

.fuzzy--icon {
  fill: @color-border;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  width: 2.5rem;
}