.fuzzy {
  position : relative;

  margin : 2rem 1rem;
  text-align : left;

  @media (min-width: @max-width) {
    margin : 3rem auto 2rem;
    width : @max-width;
  }
}

.fuzzy--input {
  height : 4rem;
  width : 100%;

  font-size : 1.25rem;
  border : 1px solid @color-border;

  text-align : center;
}

.fuzzy--icon {
  position : absolute;

  top   : 0.75rem;
  right : 1rem;

  width  : 2.5rem;
  height : 2.5rem;

  fill : @grey;
}