.media {
  .clearfix;

  &__obj {

    &--left {
      margin-bottom: 1rem;

      @media (min-width: @media--small) {
        max-width: 50%;
      }

    }

    &--left {

      @media (min-width: @media--small) {
        margin: 0 1rem 0 0;
        float: left;
      }

    }

  }

  &__body {
    overflow: hidden;
  }

}
