.nav {

  ul {
    .list-unstyled;
  }

  li {
    position: relative;
  }

  a {
    color: @color;
    display: block;

    &:hover {
      color: @color-secondary;
    }

  }

  .is-active {


    > span {
      color: @color-primary;
      display: block;
    }

  }

  &.nav-open {

    ul {
      display: table;
    }

  }

}

.nav-list {
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  ul {
    float: left;
    text-align: center;
    width: 100%;
  }

  @media (min-width: (@media-tiny + 1)) {

    ul {
       display: table;
    }

    li {
      display: table-cell;
    }

    .is-active {
      border-bottom: 3px solid @color-primary;
    }

  }

  // @media screen and (max-width: @media-tiny) {

  //   .is-active {
  //     border: 0;
  //   }

  // }

}

.nav-main {
  // font-weight: bold;
  // overflow: hidden;
  // text-align: center;
  // text-transform: uppercase;

  a,
  span {
    padding: 1.5rem 0;
  }

  @media screen and (max-width: @media-tiny) {
    overflow: visible;

    ul {
      display: none;
      margin: 0 -.25rem 1rem -.25rem;
    }

    a,
    span {
      padding: .25rem 0;
    }

  }

}
