.nav {

  ul {
    .list-unstyled;
  }

  li {
    position: relative;
  }

  a {
    color: @color;
    display: block;

    &:hover {
      color: @color-primary;
    }

  }

  .is-active {
    border-bottom: 3px solid @color-primary;

    > a {
      color: @color-primary;
    }

  }

  &.nav-open {

    ul {
      display: table;
    }

  }

}

.nav-list {

  ul {
    display: table;
    text-align: center;
    width: 100%;
  }

  li {
    display: table-cell;
  }

  @media screen and (max-width: @media-tiny) {

    li {
      display: block;
    }

    .is-active {
      border: 0;
    }

  }

}

.nav-main {
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  a {
    padding: 1.5rem 0;
  }

  @media screen and (max-width: @media-tiny) {
    overflow: visible;

    ul {
      display: none;
      margin: 0 -.25rem 1rem -.25rem;
    }

    a {
      padding: .25rem 0;
    }

  }

}