.posts {
  list-style: none;
  margin: -2rem 0;
  padding: 0;
}

.post {
  padding: 2rem 0;

  &:not(.is-hidden) {

    ~ li {
      border-top: 1px solid @border__color;
    }

  }

  &--tool {
    text-align: center;
  }

   &__stats {
    color: @border__color;
    list-style: none;
    margin: 1rem -.5rem;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0 .5rem;
    }

  }

  &__author {

    &__img {
      margin-bottom: .5rem;
      border-radius: 50%;
    }

  }

}

#noResultMsg {
  color: @border__color;
  font-size: 1.5rem;
  text-align: center;
}
