.resources {
  list-style: none;
  margin: -.25rem auto .25rem;
  padding: 0;

  @media (min-width: @media--small) {
    max-width: 75%;
  }

  li {
    display: inline-block;
    min-width: 12rem;
    padding: .25rem;
    position: relative;
    text-align: left;
    width: 100% / 2;

    @media (min-width: @media--small) {
      min-width: initial;
      width: auto;
    }

  }

  a {
    border-radius: 2rem;
    color: @base__bgcolor;
    display: block;
    margin-bottom: .5rem;
    padding: .5rem 1rem;

    @media (min-width: @media--small) {
      border-radius: 50%;
      height: 3rem;
      padding: .5rem;
      width: 3rem;
    }

  }

  span {
    color: @base__bgcolor;
    display: block;
    position: absolute;
    right: 1rem;
    text-align: center;
    top: .75rem;

    @media (min-width: @media--small) {
      color: @base__color;
      left: 0;
      padding-top: 1.5rem;
      position: relative;
      top: 0;
    }

    &:after {
      content: '☆';
      margin-left: .25rem;

      @media (min-width: @media--small) {
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

    }

  }

  svg {
    display: none;

    @media (min-width: @media--small) {
      display: inline-block;
      fill: #fff;
      height: 2rem;
      width: 2rem;
    }

  }

}

.resource {

  .-(@i: length(@resources)) when (@i > 0) {

    @resource-name: e(extract(@resources, @i));
    @resource: ~'resource--@{resource-name}__bgcolor';
    @resource-hover: ~'resource--@{resource-name}__bgcolor--hover';

    &--@{resource-name} {
      background: @@resource;

      &:hover {
        background: @@resource-hover;
      }

    } .-((@i - 1));

  } .-;

}
