.resources {
  .list-unstyled;
  margin: 0 -.25rem;
  padding: 0 0 .5rem;

  li {
    display: inline-block;
    margin: 0 .25rem;
    position: relative;
    text-align: left;
    // vertical-align: top;
  }

  span {
    color: @color-bg;
    padding: .5rem 0;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 0;

    &:after {
      content: '☆';
      margin-left: .25rem;
    }

    @media (min-width: @max-width) {
      color: @color;
      display: block;
      margin : 0 0 .5rem;
      padding: 1.5rem 0 0;
      position: relative;
      right: auto;
      text-align: center;
      top: auto;

      &:after {
        content: '☆';
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
      }

    }

  }

  a {
    border-radius: 2rem;
    color: #fff;
    display: block;
    margin: 0 0 .5rem 0;
    overflow: hidden;
    padding: .5rem 1rem;
    text-decoration: none;
    width: 220px;

    &.service {
      background: @color-service;

      &:hover {
        background: @color-service-hover;
      }

    }

    &.cli {
      background: @color-cli;

      &:hover {
        background: @color-cli-hover;
      }

    }

    &.chrome {
      background: @color-chrome;

      &:hover {
        background: @color-chrome-hover;
      }

    }

    &.module {
      background: @color-module;

      &:hover {
        background: @color-module-hover;
      }

    }

    &.grunt {
      background: @color-grunt;

      &:hover {
        background: @color-grunt-hover;
      }

    }

    &.gulp {
      background: @color-gulp;

      &:hover {
        background: @color-gulp-hover;
      }

    }

    &.bookmarklet {
      background: @color-bookmarklet;

      &:hover {
        background: @color-bookmarklet-hover;
      }

    }

    &.script {
      background: @color-script;

      &:hover {
        background: @color-script-hover;
      }

    }

    > svg {
      display: none;
    }

    @media (min-width: @max-width) {
      border-radius: 50%;
      height: 3rem;
      padding: .5rem 1.5rem;
      text-indent: -1000px;
      width: 3rem;

      > svg {
        display: block;
        height: 2rem;
        left: .5rem;
        pointer-events: none;
        position: absolute;
        top: .5rem;
        width : 2rem;
      }

    }

  }

}
