.tags {
  .list-unstyled;
  margin: 0 -.125rem 1rem;

  li {
    border: 1px solid @color-border;
    display: inline-block;
    font-size: .875rem;
    margin: 0 .125rem;
    padding: .125rem .5rem;
  }

}