.footer {
  display: table-row;
  height: 1px;

  .container {
    padding: 1rem 0;
  }

}

.footer--heart {
  display: inline-block;
  fill: @color-primary;
  height: 2rem;
  margin-bottom: -0.75rem;
  transition: fill .3s, transform .3s;
  width: 2rem;

  &:hover {
    fill: @color-secondary;
    transform: scale(1.1);
  }

}

.crafted,
.copyright {
  text-align: center;
}

@media (min-width: (@media-small + 1)) {

  .crafted,
  .copyright {
    text-align: left;
  }

  .crafted {
    float: left;
  }

  .copyright {
    float: right;
  }

}
