.footer {
  border-top: 1px solid @color-border;
  margin: 3rem 0 0;
  padding: 1rem;
}

.footer--heart {
  display: inline-block;
  fill: @color-primary;
  height: 2rem;
  margin-bottom: -0.75rem;
  transition: fill .3s, transform .3s;
  width: 2rem;

  &:hover {
    fill: @color-secondary;
    transform: scale(1.1);
  }

}

.crafted {
  float: left;
}

.copyright {
  float: right;
}


@media screen and (max-width: @media-small) {

  .crafted,
  .copyright {
    float: none;
    text-align: center;
  }

}